/* div button:nth-child(even) {
    background-color: red;
}

div button:nth-child(odd){
    background-color: blue;
} */

.conteiner {
    margin-top:50px;
    background-color: blue;
    width: 100%;
    height: 50px;
    display: flex;
}

.child {
    background-color: cyan;
    flex:1;
    height: 50px;
    border: 1px ;
}

.conteiner .child:nth-child(even) {
    background-color: green;
    flex: 4;
}
.conteiner .child:nth-child(odd) {
    background-color: rgb(248, 176, 43);
}

.conteiner .childd:nth-child(even) {
    background-color: green;
    flex: 1;
}
.conteiner .childd:nth-child(odd) {
    background-color: rgb(248, 176, 43);
    flex: 5;
}

.enabled_btn {
    margin-top: 10px;
    background-color: #712FFF;
    border: 0;
    color: white;
    padding: 10px 24px 10px 24px;
    border-radius: 100px;
}

.hovered_btn {
    background-color: #712FFF;
    border: 0;
    color: white;
    padding: 10px 24px 10px 24px;
    border-radius: 100px;

}

.hovered_btn:hover {
    background-color: blueviolet;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.disabled_btn {
    margin-top: 10px;
    background-color: #712FFF;
    border: 0;
    color: white;
    padding: 10px 24px 10px 24px;
    border-radius: 100px;
}

.disabled_btn:disabled {
    background-color: #1F1F1F1F;
    color: gray;
}