body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

/*--- This is the CSS class for the green rectangular blocks. Note that it uses display: flex ---*/
.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

/*--- flex: 1 makes it so that the div takes up all available space left in the parent element ---*/
.redExample {
  flex: 1;
  background-color: red;
}

/*--- Since both .redExample and .blueExample have flex: 1, they will take up an equal amount of space because they meet in the middle ---*/
.blueExample {
  flex: 1;
  background-color: blue;
}

/*--- flex-direction: row-reverse orders all child elements starting from right to left ---*/
.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
}

.blueExample2 {
  width: 80px;
  background-color: blue;
}

/* TODO: Add CSS for the rest of your solution below */

.wrapper_3 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: space-between;
}

.red_3 {
  background-color: red;
  width: 80px;
}
.blue_3 {
  background-color: blue;
  width: 80px;
}

.wrapper_4 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

.red_4 {
  background-color: red;
  flex: 1;
}

.blue_4 {
  background-color: blue;
  width: 80px;
}

.wrapper_5 {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.red_5 {
  background-color: red;
  width: 40px;
  height: 40px;
}

.red_6 {
  display: flex;
  height: 60px;
  background-color: red;
  justify-content: center;
}

.blue_6 {
  background-color: blue;
  width: 80px;
}

.wrapper_7 {
  height: 20px;
  flex: 1;
  background-color: green;
  align-self: center;
}

.red_7 {
    background-color: red;
    width: 80px;
}

.blue_7 {
    display: flex;
    height: 60px;
    background-color: blue;
}


.wrapper_8 {
    display: flex;
    background-color: blue;
    height: 60px;
}

.child:nth-child(even) {
    background-color: green;
    flex: 4;
}

.child:nth-child(odd) {
    background-color: orange;
    flex: 1;
}

.wrapper_9 {
    display: flex;
    background-color: blue;
    height: 60px;
}

.child_1:nth-child(even) {
    background-color: green;
    flex: 0.5;
}

.child_1:nth-child(odd) {
    background-color: orange;
    flex: 6;
}
